:root {
    --background-primary: #00111E;
    --background-secondary: #001631;
    --text-primary: #B6FFFF;
    --text-secondary: #00B5FB;
    --accent: #00FB84;
}

body {
    background: var(--background-primary);
    color: var(--text-primary);
    font-family: sans-serif;
}

.hidden {
    display: none;
}