@import '../base/vars';
$thumb-size: 2em;

.achievement {
    color: var(--text-secondary);
    margin: 0 4px 8px 4px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 4px solid var(--text-tertiary);
}

.achievement .title {
    color: var(--text-primary);
    font-weight: 600;
    letter-spacing: $wide-letter-spacing;
}

.achievement .thumb {
    vertical-align: middle;
    align-items: center;
    align-content: center;
    text-align: center;
    letter-spacing: $wide-letter-spacing;
}

.thumb .points {
    font-size: $thumb-size;
    line-height: $thumb-size;
    width: $thumb-size;
    height: $thumb-size;
    padding-right: $thumb-size / 4;
}

.parent-category {
    font-size: 0.7em;
    line-height: 1em;
    color: var(--text-tertiary);
    letter-spacing: $wide-letter-spacing;
}