<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#0e1013">

<link rel="stylesheet" type="text/css" href="/static/css/profile.min.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

<title>{username} - _(SCII Achievements)</title>
</head>
<body>
    <header>
        <a href="/"><div class="sc2am">SCII Achievement Manager</div></a>
        <div id="search">
            <form id="search_form" onsubmit="return parseProfileUrl()">
                <input id="profile_url" type="text" name="profile_url" placeholder="_(battle.net profile url)"/>
                <button type="submit">_(gl hf)</button>
            </form>
            <div id="form_error" class="hidden">_(Unable to parse URL - please try again)</div>
        </div>
    </header>
    <div id="profile">
        <div id="username" class="username"><a href="{bnet_profile_url}">{username}</a></div>
        <div id="points_overview" class="hidden">
            <div>_(Total points): <span id="points_total" class="points"></span></div>
            <div id="points_categories" class="list"></div>
        </div>
    </div>
    <div id="loader"></div>
    <div id="achievements_container">
        <div id="achievement_controls" class="hidden">
            <input id="filter" type="text" placeholder="_(search)"/>
            <!-- <div class="control-group hidden">
                <div id="collapse_all" class="control hidden">_(Collapse all)</div>
                <div id="expand_all" class="control hidden">_(Expand all)</div>
            </div> -->
            <div class="control-group">
                _(Sort by):
                <div id="sort_category" class="control selected">_(Category)</div>
                <div id="sort_points" class="control">_(Points)</div>
                <div id="sort_title" class="control">_(Title)</div>
            </div>
        </div>
        <div id="achievements" class="list"></div>
    </div>
    <div><pre id="debug"></pre></div>

    <footer>
        <!--=include ../fragments/footer.html -->
    </footer>

    <div id="error"><span class="message">This is an error message</span> <span class="button">_(Dismiss)</span></div>

    <script type="text/javascript">
        const user = {
            username: '{username}',
            user_id: {user_id},
            server: '{server}',
            locale: '{locale}',
            region: {region},
        };
    </script>
    <script type="text/javascript" src="/static/js/main.min.js"></script>
    <script type="text/javascript" src="/static/js/profile.min.js"></script>
</body>
</html>