.title {
    letter-spacing: .05em;
    // text-transform: uppercase;
    // text-shadow: 0 2px 4px rgba(0,0,0,.8), 0 8px 16px rgba(0,0,0,.6);
    color: #fff;
    font-family: Source Sans Pro,sans-serif;
    line-height: 1.36798;
}