@import 'imports/base/vars';
@import 'imports/profile/points-overview';
@import 'imports/profile/achievement';
@import 'imports/profile/category';
// @import 'imports/base/search';
// @import 'imports/base/branding';
// @import 'imports/base/loading';
@import 'imports/base/loading';
@import 'base';

#debug {
    background: rgba(255, 0, 0, .3);
}

#profile {
    max-width: 800px;
    margin-left: 8px;
    margin-right: 8px;
}

#username {
    font-size: 2em;
    letter-spacing: $wide-letter-spacing;
    line-height: 2em;
    color: var(--text-primary);
}

#loading {
    max-width: 800px;
    margin: auto;
}

#achievements {
    width: 100%;
    max-width: 800px;
    margin: 8px auto;
    transition: width 300ms;
}

#achievements_container {
    border-top: solid 2px var(--accent-secondary);
    max-width: 800px;
    margin: auto;
}

.points {
    color: var(--accent);
}

#achievement_controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    font-family: monospace;
    max-width: 800px;
    margin: auto;
}

#filter {
    flex-grow: 10;
    margin: 0 !important;
    font-family: sans-serif !important;
    max-width: 400px;
}

.control-group {
    margin: 4px auto;
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 423px;
    transition: margin 300ms;
}

.control {
    padding: 8px;
    border: solid 1px var(--selected);
    border-radius: $corner-radius;
    margin: auto 8px;
    cursor: pointer;
    color: var(--accent);
    transition: background 300ms, border 200ms, color 300ms;
}

.control.selected {
    color: var(--accent-secondary);
    background: var(--selected);
    font-weight: 600;
}

@media screen and (min-width: 423px) {
    #achievement_controls {
        justify-content: space-between;
    }

    .control-group {
        justify-content: center;
        margin-left: 8px;
        margin-right: 8px;
    }

    .control {
        padding: 0 4px;
        margin: auto 0;
        background: none;
        border: none;
    }

    .control.selected {
        color: var(--accent-secondary);
        background: none;
        font-weight: 600;
    }
}

@media screen and (min-width: 800px) {
    #profile {
        margin-left: auto;
        margin-right: auto;
    }
}